<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dvdam_Events">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Dvdam_Core"/>
        </sequence>
    </module>
</config>
